.layout_container{
    background-image: url('../../assets/img/landing/sigmund-Z5AKtkHRjsQ-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 87.5vh;
   display: flex;
}


.layout_title{
    font-size: 60px;
    font-weight: bold;
    color: rgb(106, 9, 9);
    text-align: left;
}